// ---------------------------------------------------------------------------
// Imports

//@import "base";

@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/reset";

@import "bootstrap/accordion";
@import "bootstrap/alerts";
@import "bootstrap/breadcrumbs";
@import "bootstrap/button-groups";
@import "bootstrap/buttons";
@import "bootstrap/close";
@import "bootstrap/component-animations";
@import "bootstrap/forms";
@import "bootstrap/grid";
@import "bootstrap/hero-unit";
@import "bootstrap/labels-badges";
@import "bootstrap/layouts";
@import "bootstrap/navbar";
@import "bootstrap/navs";
@import "bootstrap/pager";
@import "bootstrap/pagination";
@import "bootstrap/popovers";
@import "bootstrap/responsive-navbar";
@import "bootstrap/responsive-utilities";
@import "bootstrap/scaffolding";
@import "bootstrap/sprites";
@import "bootstrap/tables";
@import "bootstrap/thumbnails";
@import "bootstrap/tooltip";
@import "bootstrap/type";
@import "bootstrap/utilities";
@import "bootstrap/wells";

/* -------------------------------------------------------------------------*/
/* Layout */

a {
  color: $linkColor;
  text-decoration: none;
}
a:hover {
  color: $linkColorHover;
  text-decoration: underline;
}


#container {

  margin-top: 85px;
 // @include container;
  //@include susy-grid-background;

  .super {
    vertical-align: super;
    font-size: small;
  }

  h1,h2,h3,h4,h5,h6 {
    text-align: center;
    font-family: Garamond, "Adobe Garamond Pro", Georgia, Times, "Times New Roman", serif;
  }

  font: 90%/1.4 "Helvetica Neue", Helvetica, Arial, "Franklin Gothic Book", "Franklin Gothic", "Trebuchet MS", Verdana, sans-serif;
  color: #444;

  .div2 {
    h1 {
      text-align: center;
    }
  }

}
