// ---------------------------------------------------------------------------
// Imports

//@import "base";

@import 'bootstrap';
@import 'responsive';
@import 'bootstrap/variables';

/* -------------------------------------------------------------------------*/
/* Layout */

a {
  color: $linkColor;
  text-decoration: none;
}

a:hover {
  color: $linkColorHover;
  text-decoration: underline;
}


#container {

  margin-top: 85px;
 // @include container;
  //@include susy-grid-background;

  .super {
    vertical-align: super;
    font-size: small;
  }

  h1,h2,h3,h4,h5,h6 {
    text-align: center;
    font-family: Garamond, "Adobe Garamond Pro", Georgia, Times, "Times New Roman", serif;
  }

  font: 90%/1.4 "Helvetica Neue", Helvetica, Arial, "Franklin Gothic Book", "Franklin Gothic", "Trebuchet MS", Verdana, sans-serif;
  color: #444;

  .div2 {
    h1 {
      text-align: center;
    }
  }

}
